.dropdown {
  width: 160px;
  background-color: #fff;
  border: 1px solid #1E40AF;
  border-radius: 12px;
  font-size: 14px;
  color: #1E40AF;
  position: relative;
  transition: box-shadow 0.2s ease;

  &.active {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-bottom: none;
    border-radius: 12px 12px 0 0;
  }

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    // font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: -1px;
    width: 160px;
    max-height: 260px;
    overflow-y: auto;
    background: white;
    border-radius: 0 0 12px 12px;
    border: 1px solid #1E40AF;
    border-top: none;
    padding: 8px 0;
    z-index: 10;
  }

  .dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 400;
    color: #606975;

    &:hover {
      background-color: #f3f4f6;
    }
  }
}
