.hero-image-container {
  position: relative;
  width: 100%;
  height: 550px;
  min-height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translate(-50%, -50%) translateY(100%);
    transition: all 1s ease-in-out;
    z-index: 1;
    max-width: 100%; // Ensure this is here

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0);
      z-index: 2;
    }

    &.next-up {
      transform: translate(-50%, -50%) translateY(100%);
      opacity: 0;
      z-index: 1;
    }
  }
}

@media (max-width: 900px) {
  .hero-image-container {
    display: none;
  }
}
